.btn-container {
	color: #ffffff;
	background: rgb(101 156 255 / 82%);
	border-radius: 50%;
	padding: 6px 8px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.item-product {
	margin: 1rem auto 1rem auto;
}
.bg-footer {
	background: #ccc;
	margin-top: 2rem;
}
.rating {
	display: float;
}

.img-product {
	max-width: 450px !important;
    width: 450px;
}
