<html>
	<head>
		<title>Ecommerce</title>
		<link
			href="{{ url_for('static', path='/css/styles.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', path='/fonts/fontawesome/css/fontawesome-all.min.css') }}"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- Inicio Barra de Navegacion -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">SHOP</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="/"
								>Inicio</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tienda</a>
						</li>
					</ul>
					<div class="btn-container">
						<i class="fa-solid fa-cart-shopping"></i>
					</div>
				</div>
			</div>
		</nav>
		<!-- Fin Barra de Navegacion -->

    <!-- Donde se renderizan las paginas que extienden de este template -->
        {% block content %}{% endblock %}
    <!-- Fin -->


		<!-- Inicio Footer -->
		<footer class="text-muted py-5 bg-footer">
			<div class="container">
				<p class="float-end mb-1">
					<a href="/"> SHOP</a>
				</p>
				<p class="mb-1">Tienda virtual en Bootstrap</p>
				<p class="mb-0">
					Copyright © 2022
					<a href="/">IUTVAL</a>
					Todos los derechos reservados
				</p>
			</div>
		</footer>
		<!-- Fin Footer -->

		<script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', path='/fonts/fontawesome/js/fontawesome-all.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/main.js') }}" defer async></script>

	</body>
</html>
